server/views/404.html
<!DOCTYPE html><html lang="ru"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="theme-color" content="#EE6E73"><title>Нефтехимавтоматика</title><link rel="stylesheet" type="text/css" href="/css/slick.css"/><link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/><link rel="stylesheet" type="text/css" href="/css/semantic.css"/><link rel="stylesheet" type="text/css" href="/css/font/font.css"/><link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.min.css"/><link rel="stylesheet" type="text/css" href="/css/style.css"/></head><header class="header"><div class="header__inform"><div class="container"><div class="header__inform_block"><div class="item"><div class="ui search"><div class="ui icon input"><input class="prompt" type="text" placeholder="Поиск"></div><div class="result"></div></div></div><div class="item"><div class="contact_block"><svg class="icon mail-svg"><use class="use-mail-svg" xlink:href="/images/icons.svg#mail-svg"></use></svg><a href="mailto:zakaz@nhavtomatika.ru">zakaz@nhavtomatika.ru</a></div><div class="contact_block"><svg class="icon phone-svg"><use class="use-phone-svg" xlink:href="/images/icons.svg#phone-svg"></use></svg><a href="tel:+7 (495) 255-18-55">+7 (495) 255-18-55</a></div><div class="contact_block"><svg class="icon phone-svg"><use class="use-phone-svg" xlink:href="/images/icons.svg#phone-svg"></use></svg><a href="tel:+7 (495) 255-18-55">+7 (495) 255-18-55</a></div></div></div></div></div><div class="header__title"></div></header><body><div class="ui container"><div class="error-page"><p class="text--404">404</p><div class="error-page--back"><p class="text--blue">Извините! Страница, которую <br> Вы ищете, не может быть <br> найдена :(</p><a class="ui button basic primary" href="/">Главная страница</a></div></div></div></body><footer></footer><script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script><script type="text/javascript" src="/js/jquery.inputmask.min.js"></script><script type="text/javascript" src="/js/jquery.fancybox.min.js"></script><script type="text/javascript" src="/js/slick.min.js"></script><script type="text/javascript" src="/js/semantic.min.js"></script><script type="text/javascript" src="/js/scripts.js"></script></html>

server/views/404.pug
extends layout
block content
    .ui.container
        .error-page
            p.text--404 404
            .error-page--back
                p.text--blue Извините! Страница, которую #[br] Вы ищете, не может быть #[br] найдена :(
                a(href='/').ui.button.basic.primary Главная страница
